<h1>Report an Incident</h1>
<div class="form-family"></div>
  <%= simple_form_for(@report) do |f| %>
    <%= f.input :category, collection: Report::CATEGORIES, class: "form-bar" %>
    <%= f.input :risk_level %>
    <%= f.input :description %>
    <%= f.input :report_date_time  %>
    <%= f.input :address, class: "form-bar" %>
    <%= f.submit %>
  <% end %>
</div>
