<div class="report-container">
  <div class="user-report">
    <div class="report-avatar">
      <%#= cl_image_tag @report.user.photo.key, width: 56, height: 56, class: "avatar-large" %>
    <%= @report.user.country %>
    </div>
    <div class="report-des">
      <p><%= @report.user.first_name %> <%= @report.user.last_name %></p>
      <p><strong><%= @report.category.capitalize %></strong></p>
      <p> <%= @report.report_date_time.strftime("%d %b %Y at %Hh%M") %> </p>
    </div>
    <div class="report-marker">
      <% if @report.risk_level == 0  %>
       <div class="heat-marker hm-yellow"></div>
      <% elsif @report.risk_level == 1 %>
       <div class="heat-marker hm-orange"></div>
      <% else @report.risk_level == 2 %>
       <div class="heat-marker hm-red"></div>
      <% end %>
    </div>
  </div>
  <div class="incident-container">
    <div class="incident-des">
      <p><label>Incident description</label></p>

      <textarea class="text-area-comment description" rows="4" cols="50">
        <%= @report.description %>
      </textarea>
    </div>
    <div class="incident-images-container">
      <p>Pictures</p>
      <%# waiting for images %>
      <div class="incident-images">
        <div class="inc-image"></div>
        <div class="inc-image"></div>
      </div>
    </div>
    <div class="incident-comment">
      <p>Comment</p>
      <%# unless @report.feedbacks.empty? %>
      <textarea class="text-area-comment comment" rows="4" cols="50">
        <%= @report.feedbacks.first.comment %>
      </textarea>
    </div>

    <hr id="hr">

    <div class="commment-input">
      <form action="" method="post" id="comment-form">
        <input class="comment-section" type="text" placeholder="Write a comment" />
        <%= button_tag( :class => "send-btn") do %>
          <i class="fas fa-arrow-circle-up"></i>
        <% end %>
    </form>
    </div>
  </div>
</div>
