<div class="report-container">
  <div class="user-report">
    <div class="report-avatar">
      <% if @report.user.photo.key == nil %>
        <%= image_tag "user_icon.png" %>
      <% else %>
        <%= cl_image_tag @report.user.photo.key, height: 80, width: 80, crop: :fill, class: 'user-avatar' %>
      <% end%>
      <div class="country">
        <%= @report.user.country %>
      </div>
    </div>
    <div class="report-des">
      <p class="category"><%= @report.category.capitalize %></p>
      <p><%= @report.user.first_name %> <%= @report.user.last_name %></p>
      <p>Reported <%= pluralize(@reported_time, @measurement) %> ago.</p>
    </div>
    <div class="caution-marker">
      <%= image_tag "exclamation-triangle-fill.svg", { :class=>'caution' } %>
    </div>
  </div>
  <div class="incident-container">
    <div class="incident-des">

      <div class="description">
      <h1>Incident description</h1>
        <%= @report.description %>
      </div>
    </div>
    <div class="incident-images-container">
      <h1>Pictures</h1>
      <%# waiting for images %>
      <div class="incident-images">
        <% if @report.photos.empty? %>
          <%= image_tag "no-photo.png", class: 'no-photo' %>
        <% else %>
          <% @report.photos.each do |photo| %>
            <%= cl_image_tag photo.key, class: 'inc-image' %>
          <% end %>
        <% end%>
      </div>
    </div>
    <div class="incident-comment">
      <h1>Comment</h1>
      <%  unless @report.feedbacks.empty? %>
      <div class="comment">
        <%= @report.feedbacks.first.comment %>;
      </div>
      <% end %>
      <%= link_to "View all comments...", report_feedbacks_path(@report), { :class=>'view-link' }  %>
    </div>

    <hr id="hr">

    <div class="comment-input">
      <form action="" method="post" id="comment-form">
        <input class="comment-section" type="text" placeholder="Write a comment" />
        <%= button_tag( :class => "send-btn") do %>
          <i class="fas fa-arrow-circle-up"></i>
        <% end %>
      </form>
    </div>
  </div>
</div>
